{% include 'head.html.twig' %}

<body>
{% include 'header.html.twig' %}


<!--<ul>-->
<!--    {% for word in words %}-->
<!--    <li>{{ word }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->

<!--<ul>-->
<!--    {% for word in words|slice(2, 4) %}-->
<!--    <li>{{ word }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->

{% include 'footer.html.twig' %}
</body>

</html>
