<!DOCTYPE html>
<html lang="fr">
<head>
    <title> Story Of Legends </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/header.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/mainbody.css">
    <link rel="stylesheet" media="(max-width: 1000px)" href="../css/smallscreen.css"/>
    <!--    <link rel="stylesheet" type="text/css" media="screen" href="style/myStyle.css">-->
    <!--    <link rel="stylesheet" media="(max-width: 1300px)" href="style/mediaStyleInfoDisappear.css"/>-->
    <!--    <link rel="stylesheet" media="(max-width: 800px)" href="style/mediaStyleNavDisappear.css"/>-->
</head>