<!DOCTYPE html>
<html lang="fr">
<head>
    <title> Story Of Legends </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{asset("/css/header.css,css")}}>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ app.request.basepath }}/css/mainbody.css">
        <link rel="stylesheet" media="(max-width: 1000px)" href="{{ app.request.basepath }}/csmallscreen.css"/>

    {% endblock %}
    <!--    <link rel="stylesheet" type="text/css" media="screen" href="style/myStyle.css">-->
    <!--    <link rel="stylesheet" media="(max-width: 1300px)" href="style/mediaStyleInfoDisappear.css"/>-->
    <!--    <link rel="stylesheet" media="(max-width: 800px)" href="style/mediaStyleNavDisappear.css"/>-->
</head>